/* ABOUT US */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

/* Background Image with Overlay */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/bg1.jpg) no-repeat center center/cover;
    opacity: 0.3; /* Adjust this for the desired transparency */
    z-index: -1;
}


.aboutus {
    /* background-color: whitesmoke; */
    text-align: justify;
}

.aboutus h1 {
    font-size: 36px;
    text-align: center;
}

.aboutus p {
    font-size: 18px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.staff {
    background-color: none;
}


/* Privacy & Policy */
.privacy {
    background-color: whitesmoke;
    text-align: justify;
}

.privacy h1 {
    font-size: 36px;
    text-align: center;
}

.privacy h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.privacy p {
    font-size: 18px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.staff {
    margin-top: 50px;
    padding: 30px 20px;
    text-align: center;
}

.staff-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.staff-card2 img {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.staff-card2 p {
    font-size: 20px;
}