body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/signup_bg1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}

h1 {
    text-shadow: -4px -4px 10px rgba(255, 255, 255, 1); /* Shadow with horizontal offset, vertical offset, blur, and color */

}

#form-container {
    /* background-color: #f9f9f9;*/
    padding: 20px;
    border-radius: 5px;
    border: 4px solid rgb(232, 24, 76);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for better visibility */
    width: 100%;
    max-width: 500px; /* Make the form responsive */
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

label {
    font-size: 20px;
    margin: 20px 0;
    /* display: inline-block; */
}

input {
    width: 97%;
    height: 20px;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid rgb(232, 24, 76);
}

button {
    /* background-color: rgb(232, 24, 76); */
    border: 2px solid rgb(232, 24, 76);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 40%;
}

button:hover {
    background-color: rgb(232, 24, 76);
    transform: scale(1);
}