/* Styles for Apartment View Page */
.apartment-details {
    width: fit-content;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 40px;
    margin-bottom: 30px;
}

.section1 {
    width: 100%;
    padding: 20px;
}

.section2 {
    width: 100%;
    padding: 50px;
}

.dress-price {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
}

.apartment-details h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

.apartment-details img {
    display: block;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.apartment-details p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.apartment-details p:first-child {
    margin-top: 0;
}

.apartment-details .not-found {
    color: #ff0000;
    font-weight: bold;
}

.buy-back {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #ff4081;
    width: 80px;
    border: none;
    border-radius: 10px;
    height: 50px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.btn2 {
    background-color: #e6006e;
    width: 100px;
    border: none;
    border-radius: 10px;
    height: 50px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background: #e6006e;
}

h4 {
    color: black;
}

.acontainer {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap; /* Added to allow wrapping of apartment cards */
    justify-content: center;
    align-items: flex-start; /* Changed to align items at the start */
}

/* Apartment Card Styles */
.apartment-card {
    border: 1px solid #ccc;
    background-color: #FFFDD0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden;
    width: calc(33.33% - 35px); /* Adjusted width to fit 3 apartments in a row */
    margin-right: 20px; /* Added right margin to create spacing between cards */
    box-sizing: border-box; /* Added to include border and padding in width calculation */
}

.apartment-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.apartment-details {
    padding: 10px;
}

.apartment-title {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: left;
}

.apartment-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
    text-align: left;
}

.apartment-price {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
}